body {
	margin: 0px;
	background: #eaeaea;
	font-family: Arial;
}

#container {
	margin: auto;
	margin-top: 1vh;
	width: 95%;
	/*height: 90vh;*/
	/*background: #f0f0f0;*/
}

#header {
	width: 100%;								
	height: 50px;
	background: #ffffff;
	display: flex;
}

#search {
	margin: auto;
	width: 98%;
	height: 30px;
	text-align: center;
	font-size: 15px;
}

#content {
	margin-top: 3vh;
	width: 100%;
	padding: 10px 0px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	background: #ffffff;
}

.item {
	margin: 5px;
	width: 200px;
	height: 200px;
	background: #607d8b; 
	border: 1px solid #607d8b;
	text-align: center;
}

.item > img {
	width: 100%;
	height: 100px;
}

.item-text {
	color: #ffffff;
	padding: 5px;
}

.item-text > label {
	font-weight: bold;
}

.item-text > p {
	font-size: 13px;
}

.tombol {
	width: 50%;
	height: 27px;
	border: none;
	cursor: pointer;
	transition: all 0.5s ease;
	color: #fffefc;
}

.tambah {
	background-color: #4caf50;
	text-decoration: none;
	padding: 10px 20px;
	line-height: 30px;
}

.edit {
	float: left;
	background-color: #ff9800;
}

.hapus {
	float: right;
	background-color: #f44336;
}

.tombol:hover {
	background: #9c27b0;
	color: #ffffff;
}

#tambah {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 70px;
	text-align: center;
}

#footer {
	margin-top: 2vh;
	width: 100%;
	height: 50px;
	background: #ffffff;
	text-align: center;
}

#footer > a {
	color: #607d8b;
	text-decoration: none;
	padding-top: 5px;
	line-height: 50px;
	font-size: 15px;
	transition: all 0.5s ease;
}

#footer a:hover {
	color: #9c27b0;
}